section {
  min-height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

section figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
