{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "env": {
    "production": {
      "presets": [
        [
          "@babel/env",
          {
            "loose": true,
            "modules": false
          }
        ],
        "minify"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "babel-plugin-transform-react-class-to-function",
        "@babel/plugin-transform-react-constant-elements"
      ],
      "comments": false
    }
  }
}
