{
  "trailingComma": "es5",
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "jsxBracketSameLine": true,
  "proseWrap": "preserve",
  "printWidth": 100
}
